$text-gray: #a1a1a1;
$line-gray: #e3e9f3;

$orange: #fec971;
$peach: #fe9b72;
$violet: #b693fd;
$cyan: #00d4fe;
$lime: #e4ef8f;

$sidebar-width: 128px;

::placeholder {
  color: $text-gray;
}

h1,
h2,
h3,
p {
  margin: 0 !important;
}

.orange {
  background-color: $orange;
}
.peach {
  background-color: $peach;
}
.violet {
  background-color: $violet;
}
.cyan {
  background-color: $cyan;
}
.lime {
  background-color: $lime;
}

.action-btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  border: 1px solid transparent;
  transition: all 0.125s ease-in;

  &:hover {
    color: black;
    background-color: transparent;
    border: 1px solid black;
    transition: all 0.0725s ease-in;
  }
}

.dropdown-toggle.hide-arrow,
.dropdown-toggle-hide-arrow > .dropdown-toggle {
  &::before,
  &::after {
    display: none;
  }
}

.dropdown-menu {
  pointer-events: auto;
  position: absolute;
  width: max-content;
  padding: 12px 0px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: none;
  border-radius: 16px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 4px -2px;
  z-index: 99;

  button:not(.color-dot) {
    padding: 0 28px;
    display: flex;
    gap: 16px;
    color: black;
    font-size: 1.6rem;
    text-align: left;
    background-color: white;
    border: none;
    transition: all 0.075s linear;

    &:hover {
      color: $peach;
      transition: all 0.075s linear;
    }
  }
}

.color-dot {
  cursor: pointer;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: $sidebar-width;
  border-right: 2px solid $line-gray;

  p {
    height: fit-content;
    font-size: 1.8rem;
    font-family: "BreezeSans-Medium";
  }

  .sidebar-btn {
    @extend .action-btn;
    width: 45px;
    height: 45px;
  }

  .home-btn {
    margin-top: 55px;
  }

  .new-note {
    margin-top: 35px;
  }

  .new-note-colors {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
}

main {
  margin-left: calc($sidebar-width + 56px);
  margin-right: 56px;

  label {
    color: $text-gray;
    gap: 16px;

    input {
      width: 325px;
      display: flex;
      align-items: center;
      height: 30px;
      padding: 0;
      margin: 0;
      font-size: 2rem;
      border: none;
    }

    input:focus {
      outline: none;
    }
  }

  .all-notes {
    margin-top: 55px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  h1 {
    font-family: "BreezeSans-Medium";
    font-size: 3.6rem;
  }

  .header-settings {
    color: $text-gray;
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: "BreezeSans-Light";

    .settings-menu {
      @extend .dropdown-menu;
      top: 45px;
      right: 0px;
      min-width: 195px;

      .selected {
        color: $peach !important;
      }
    }

    p {
      font-size: 1.6rem;
      cursor: pointer;
      user-select: none;
    }

    .sort-direction {
      color: $text-gray;
      cursor: pointer;
      border: none;
      background-color: transparent;
    }
  }

  // .editor {
  //   margin-top: 85px;
  // }
}

.note-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding: 0;
  margin-top: 50px;
  margin-bottom: 50px;
}

.card {
  width: 245px;
  height: 245px !important;
  border: none !important;
}

.card-body {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: 28px 18px !important;
  border-radius: 16px;
  font-family: "BreezeSans-Medium";
  transition: box-shadow 0.225s ease-in-out, transform 0.125s ease-in;

  p,
  .card-title-input {
    font-size: 1.6rem;
    user-select: none !important;
  }

  &:hover {
    // transform: scale(1.0125);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
      rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    transition: box-shadow 0.225s ease-in-out, transform 0.125s ease-in;
  }

  .card-title-input {
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
    resize: none;
    max-height: 40%;

    &:focus {
      outline: none;
    }
  }
}

.card-bottom {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
  font-family: "BreezeSans-Light";

  .note-options {
    @extend .action-btn;
    position: relative;

    &:has(.note-menu:hover) {
      color: white;
      background-color: black;
    }

    .note-menu {
      @extend .dropdown-menu;
      top: 0px;
      left: 50px;
      min-width: 125px;
    }
  }

  .edit-colors {
    display: flex;
    gap: 12px;
    padding: 12px 28px 0px 28px;
    border-top: 1px solid $line-gray;
  }

  // .selected-color-outline {
  //   outline: 1px solid black;
  // }
}

#empty-notes {
  height: 60vh;
  color: $text-gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;

  p {
    font-size: 2.4rem;
  }
}

#editor-modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(32, 33, 36, 0.6); /* Black w/ opacity */

  .modal-header {
    padding: 16px 12px;
  }
  
  .modal-body  {
    padding: 0px 12px;
    background-color: white;
    border-radius: 16px;
    max-width: 580px;
    min-height: 180px;
  }

  #note-title-editor, #note-content-editor {
    width: 100%;
    // border: none;
    resize: none;
    background-color: transparent;

    // &:focus {
    //   outline: none
    // }
  }

  #note-title-editor {
    font-size: 2.2rem;
    height: fit-content;
    font-family: "BreezeSans-Medium";
  }

}
