h1,
h2,
h3,
p {
  margin: 0 !important;
}

.orange {
  background-color: #fec971;
}

.peach {
  background-color: #fe9b72;
}

.violet {
  background-color: #b693fd;
}

.cyan {
  background-color: #00d4fe;
}

.lime {
  background-color: #e4ef8f;
}

::-moz-placeholder {
  color: #a1a1a1;
}

::placeholder {
  color: #a1a1a1;
}

textarea::-moz-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

textarea::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-thumb {
  background-color: #e3e9f3;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 0px;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0.5, rgba(255, 255, 255, 0.2)), color-stop(0.5, transparent), to(transparent));
}

.action-btn, .card-bottom .note-options, nav .sidebar-btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  border: 1px solid transparent;
  transition: all 0.125s ease-in;
}
.action-btn:hover, .card-bottom .note-options:hover, nav .sidebar-btn:hover {
  color: black;
  background-color: transparent;
  border: 1px solid black;
  transition: all 0.0725s ease-in;
}

.dropdown-toggle.hide-arrow::before, .dropdown-toggle.hide-arrow::after,
.dropdown-toggle-hide-arrow > .dropdown-toggle::before,
.dropdown-toggle-hide-arrow > .dropdown-toggle::after {
  display: none;
}

.dropdown-menu, #editor-modal .modal-footer .color-menu, .card-bottom .note-options .note-menu, main .header-settings .settings-menu {
  pointer-events: auto;
  position: absolute;
  width: -moz-max-content;
  width: max-content;
  padding: 12px 0px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: none;
  border-radius: 16px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px -3px, rgba(0, 0, 0, 0.05) 0px 4px 4px -2px;
  z-index: 99;
}
.dropdown-menu button:not(.color-dot), #editor-modal .modal-footer .color-menu button:not(.color-dot), .card-bottom .note-options .note-menu button:not(.color-dot), main .header-settings .settings-menu button:not(.color-dot) {
  padding: 0 28px;
  display: flex;
  gap: 16px;
  color: black;
  font-size: 1.6rem;
  text-align: left;
  background-color: white;
  border: none;
  transition: all 0.075s linear;
}
.dropdown-menu button:not(.color-dot):hover, #editor-modal .modal-footer .color-menu button:not(.color-dot):hover, .card-bottom .note-options .note-menu button:not(.color-dot):hover, main .header-settings .settings-menu button:not(.color-dot):hover {
  color: #fe9b72;
  transition: all 0.075s linear;
}

.color-dot {
  cursor: pointer;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 128px;
  border-right: 2px solid #e3e9f3;
}
nav p {
  height: -moz-fit-content;
  height: fit-content;
  font-size: 1.8rem;
  font-family: "BreezeSans-Medium";
}
nav .sidebar-btn {
  width: 45px;
  height: 45px;
}
nav .home-btn {
  margin-top: 55px;
}
nav .new-note {
  margin-top: 35px;
}
nav .new-note-colors {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

main {
  margin-left: 184px;
  margin-right: 56px;
}
main label {
  color: #a1a1a1;
  gap: 16px;
}
main label input {
  width: 325px;
  display: flex;
  align-items: center;
  height: 30px;
  padding: 0;
  margin: 0;
  font-size: 2rem;
  border: none;
}
main label input:focus {
  outline: none;
}
main .all-notes {
  margin-top: 55px;
}
main .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main h1 {
  font-family: "BreezeSans-Medium";
  font-size: 3.6rem;
}
main .header-settings {
  color: #a1a1a1;
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: "BreezeSans-Light";
}
main .header-settings .settings-menu {
  top: 45px;
  right: 0px;
  min-width: 195px;
}
main .header-settings .settings-menu .selected {
  color: #fe9b72 !important;
}
main .header-settings p {
  font-size: 1.6rem;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
main .header-settings .sort-direction {
  color: #a1a1a1;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.note-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding: 0;
  margin-top: 50px;
  margin-bottom: 50px;
}

.selected-note {
  opacity: 0 !important;
  transition: all 0.1s ease-in;
}

.card {
  width: 245px;
  height: 245px !important;
  border: none !important;
  border-radius: 16px !important;
}

.card-body {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 28px 18px !important;
  border-radius: 16px;
  font-family: "BreezeSans-Medium";
  transition: box-shadow 0.225s ease-in-out, transform 0.125s ease-in;
}
.card-body p {
  font-size: 1.6rem;
}
.card-body .card-content {
  font-size: 1.4rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "BreezeSans-Regular";
}
.card-body:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  transition: box-shadow 0.225s ease-in-out, transform 0.125s ease-in;
}

.card-bottom {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
  font-family: "BreezeSans-Light";
}
.card-bottom .note-options {
  position: relative;
}
.card-bottom .note-options:has(.note-menu:hover) {
  color: white;
  background-color: black;
}
.card-bottom .note-options .note-menu {
  top: 0px;
  left: 50px;
  min-width: 125px;
  z-index: 99;
}
.card-bottom .edit-colors {
  display: flex;
  gap: 12px;
  padding: 12px 28px 0px 28px;
  border-top: 1px solid #e3e9f3;
}

#empty-notes {
  height: 60vh;
  color: #a1a1a1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
}
#empty-notes p {
  font-size: 2.4rem;
}

#editor-modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(32, 33, 36, 0.6); /* Black w/ opacity */
}
#editor-modal .modal-card {
  border-radius: 16px;
  min-width: 585px;
  min-height: 180px;
}
#editor-modal .action {
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.075s ease-in;
}
#editor-modal .action:hover {
  background-color: rgba(89, 89, 89, 0.1);
  transition: all 0.075s ease-in;
}
#editor-modal .modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 24px;
  border-radius: 16px 16px 0 0;
}
#editor-modal .modal-header svg {
  cursor: pointer;
}
#editor-modal .modal-body {
  padding: 0 24px;
}
#editor-modal .modal-body .edit-date {
  text-align: right;
  margin-top: 16px !important;
  font-size: 1.2rem;
}
#editor-modal .modal-footer {
  background-color: white;
  border-radius: 0 0 16px 16px;
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  padding: 12px 24px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 18px;
}
#editor-modal .modal-footer .footer-action {
  display: flex;
  gap: 28px;
  align-items: center;
}
#editor-modal .modal-footer .action {
  position: relative;
}
#editor-modal .modal-footer .color-menu {
  top: 30px;
  left: -20px;
  min-width: 125px;
  z-index: 99;
}
#editor-modal .modal-footer .color-menu .edit-colors {
  display: flex;
  gap: 12px;
  padding: 0px 12px;
}
#editor-modal .modal-footer .close-btn {
  font-size: 1.4rem;
  border: none;
  padding: 8px 32px;
  border-radius: 4px;
  background-color: transparent;
  font-family: "BreezeSans-Medium";
  transition: all 0.075s ease-in;
}
#editor-modal .modal-footer .close-btn:hover {
  background-color: rgba(89, 89, 89, 0.1);
  transition: all 0.075s ease-in;
}
#editor-modal textarea {
  width: 100%;
  border: none;
  resize: none;
  background-color: transparent;
}
#editor-modal textarea:focus {
  outline: none;
}
#editor-modal #note-title-editor {
  font-size: 2.2rem;
  font-family: "BreezeSans-Medium";
}
#editor-modal #note-content-editor {
  font-size: 1.6rem;
  font-family: "BreezeSans-Regular";
}/*# sourceMappingURL=App.css.map */